<component name="libraryTable">
  <library name="spring-android-core-2.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.android/spring-android-core/2.0.0.BUILD-SNAPSHOT/d36ad1757826ce82c6148e5505a32850b6da9ba1/spring-android-core-2.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.android/spring-android-core/2.0.0.BUILD-SNAPSHOT/9e29a6b08cf7f12997667bf6ceada4e521cb0e85/spring-android-core-2.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>