<component name="libraryTable">
  <library name="spring-android-rest-template-2.0.0.BUILD-SNAPSHOT">
    <CLASSES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.android/spring-android-rest-template/2.0.0.BUILD-SNAPSHOT/60d9d405f8c07db64e9641a458b23f4775d389da/spring-android-rest-template-2.0.0.BUILD-SNAPSHOT.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.android/spring-android-rest-template/2.0.0.BUILD-SNAPSHOT/7dcbad1e3df8375dcfd438c10f9c1854a5e7cf46/spring-android-rest-template-2.0.0.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>